*
{
    margin: 0;
    padding: 0;
}
.Login-page{
    height:100%;
    position:relative;
    background-color: white;
}
.img{
    position:absolute;
    top:10%;
}
.cont h1{
    position: absolute;
    color: black;
    text-align:center;
    bottom:57%;
    left:39%;
}
.cont1 h2{
    position: absolute;
    color: black;
    text-align:center;
    bottom:45%;
    left:35%;
    
}
.ss
{
    position: absolute;
    left:30%;
}
